@font-face {
    font-family: Bakery;
    src: url(../fonts/bakery.ttf);
}

html {
    box-sizing: border-box;
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after{
    clear: both;
}

.hide,
.alert,
.slideout,
.valid,
#eventContent,
#day,
#month29,
#month30,
#month31,
.position-left {
    display: none;
}

.show,
.logo,
label,
input,
img,
.popup {
    display: block;
}

.index {
    background-image: url(../img/index-background.jpg);
}

.services {
    background-image: url(../img/services-background.jpg);
}

.products {
    background-image: url(../img/products-background.jpg);
}

.about {
    background-image: url(../img/about-background.jpg);
}

.index,
.services,
.products,
.about {
    background-color: #c47db1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header,
footer {
    background-color: #ffffff;
}

.logo {
    max-width: 360px;
    margin: auto;
    padding: 1rem;
}

h1,
h2 {
    margin: 0 auto;
    color: #394147;
    line-height: 120%;
    text-align:center;
}

h1 {
    font-family: 'Bakery', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
}

p,
li,
a,
label,
input,
select,
option,
button {
    padding: .6rem 0;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    color: #135a72;
}

img {
    width: 100%;
}

ul {
    padding-left: 0;
}

section,
article,
.wrap,
.icon {
    padding: 1rem;
}

article {
    width: 96%;
    margin: auto;
    text-align: center;
}

article p {
    text-align: left;
}

#our-menu {
    width: 90%;
    margin: auto;
}

#mission, .green-background {
    margin-top: 1rem;
    background-color: rgba(214, 232, 19, .9);
    padding: 1rem;
    border-radius: 10px;
    border: 2px rgba(255,255,255,.7) solid;
    width: 94%;
    max-width: 900px;
    margin: 1rem auto;
}
#mission p {
    color: #394147;
}

.wrap {
    background-color: rgba(255,255,255,.9);
    margin: 2rem .7rem;
    box-shadow: -.3rem -.3rem #394147;
        -webkit-box-shadow: -.3rem .3rem #394147;
}

.icon {
    width: 50%;
    max-width: 180px;
}


.primary-button,
.primary-button a {
    color: #ffffff;
    font-size: 1rem;
}

.primary-button,
.secondary-button {
    margin: 1rem auto;
    padding: 1rem .8rem;
    cursor: pointer;
    background-color: #c47db1;
    border: none;
    border-radius: .8rem;
    box-shadow: -.3rem -.3rem #135a72;
        -webkit-box-shadow: -.3rem .3rem #135a72;
        display:flex;
    align-self: center;
}

.primary-button:hover {
    box-shadow: none;
        -webkit-box-shadow: none;
    transform: translate(-.3rem, .3rem);
        -webkit-transform: translate(-.3rem, .3rem);
}

.secondary-button {
    background-color: #135a72;
    color: white;
    box-shadow: none;
        -webkit-box-shadow: none;
}

.secondary-button:hover,
#social-media a img:hover {
    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

a {
    color: #c47db1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main navigation styles */
.logo,
.main-nav,
ul.slimmenu {
    width: 100%;
}

ul.slimmenu li {
    padding: 0;
}

.main-nav,
.menu-item a,
ul.slimmenu li a {
    background-color: #135a72;
    color: #ffffff;
    width: 100%;
}

ul.slimmenu li .submenu li .subsubmenu li a,
ul.slimmenu li .submenu li a {
    background-color: #d6e813;
    width: 100%;
    color: #394147;
    border-bottom: .01rem white solid;
}

ul.slimmenu li .submenu li .subsubmenu:last-child,
ul.slimmenu li .submenu:last-child {
    border: none;
}

ul.slimmenu li .submenu li .subsubmenu li a:hover,
ul.slimmenu li .submenu li a:hover {
    background-color: #ffffff;
}

ul.slimmenu li.menu-item a:hover {
    background-color: #c47db1;
}

ul.slimmenu li .submenu li .subsubmenu li a {
    background-color: #ffd022;
}
/* End main navigation styles */

footer {
    align-self: bottom;
    background-color: #c0c0c0;
}

#social-media {
    margin: 0 auto 1rem;
    padding: .6rem 0;
    background-color: #ffffff;
}

#social-links {
        max-width: 500px;
        margin: auto;
}
#social-media a {
    display: inline-block;
    width: 23.8%;
    margin: auto;
}

#social-media a img {
    padding: .3rem;
    margin: auto;
    width: calc(100% - .6rem);
    max-width: 60px;

}

.map iframe{
    width: 90%;
    border: white solid 3px;
}

.bold,
.level1 li,
h2,
#mission p,
a,
button,
.main-nav {
    font-weight: bold;
}

.table {
    margin: 1rem auto;
    width: 96%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0;
    border: 1px solid #c47db1;
    background-color: rgba(255,255,255,.75);
}

td p {
    padding: .5rem;
}

.item {
    margin: 1rem 0;
    border-bottom: 2px dotted;
}

.cat-photo,
.item img {
    max-width: 300px;
}
th p,
.center {
    text-align: center;
}

input[type="email"] {
    width: 100%;
    max-width: 500px;
    padding: .5rem;
    margin: auto;
}

.error {
  color: #e74c3c;
}

#faq ul {
    width: 96%;
}

#faq li {
    text-align: left;
}

.level1,
.level2{
    list-style-type: none;
}

.level2 li{
    font-weight: normal;
}

#classes .wrap {
    margin-left: 0;
    margin-right: 0;
}

#calendar {
    z-index: 0;
}

#eventContent p {
    position: absolute;
    z-index:999;
    background-color:white;
    width: 90%;
}

.fc-center h2 {
    padding: .5rem 0;
    font-size: 1rem;
}

footer label,
footer p {
    text-align: center;
    width: 90%;
    margin: auto;
}

#email-form {
    width: 90%;
    margin: auto;
}


/* POPUP STYLES */
.popup {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.popup .popuptext {
    visibility: hidden;
    width: 80%;
    max-width: 500px;
    margin: auto;
    background-color: #ffd022;
    color: #000;
    text-align: center;
    border: solid #c47db1 2px;
    border-radius: .5rem;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
}

.popuptext select,
.popuptext label,
.popuptext button,
.popuptext submit {
    display: inline-block;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/* END POPUP STYLES */

@media (min-width: 480px) {
    #nav-home {
        width: 19%;
    }

    #nav-about {
        width: 24%;
    }

    #nav-products {
        width: 28%;
    }

    #nav-classes {
        width: 26%;
    }

    #navigation {
        max-width: 500px;
        float: right;
        vertical-align: bottom;
        display: inline-block;
    }

    ul.slimmenu li .submenu li {
        width: 100%;
    }

    .wrap {
        width: 80%;
        margin: 1rem auto;
    }

    #schedule.wrap,
    #faq.wrap,
    #history div.wrap,
    #contact .wrap,
    #gift-certificates .wrap {
        width: 99%;
        max-width: 940px;
        margin: 1.4rem auto;
    }

    #contact .wrap {
        width: 50%;
    }
}

@media (min-width: 550px) {
    .logo {
        display: inline-block;
        width: 30%;
        max-width: 220px;
        padding: 1rem 0 0 1rem;
    }
}

@media (min-width: 776px) {
    #photo-links {
        padding: 0;
        max-width: 1000px;
        margin: auto;
    }

    #visit-us.wrap,
    #shop-now.wrap,
    #classes.wrap,
    #downtown.wrap,
    #south-valley.wrap,
    #west.wrap {
        display: inline-block;
        width: 30%;
        margin: .5rem;
        vertical-align: top;
    }
}

@media (min-width: 880px) {
    .item img {
        float: left;
        margin: 1rem;
    }

    #cakes.wrap,
    #pastries.wrap,
    #breads.wrap {
        display: inline-block;
        width: 30%;
        margin: .5rem;
        vertical-align: top;
    }
}
