@font-face {
    font-family: Bakery;
    src: url(../fonts/bakery.ttf);
}

html {
    box-sizing: border-box;
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.position-left {
    display: none;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto; /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after{
    clear: both;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

.index {
    background-image: url(../img/index-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.products,
.about {
    background-color: #c47db1;
}

header,
footer {
    background-color: #ffffff;
}

.logo {
    max-width: 360px;
    margin: auto;
    padding: 2rem;
    display: block;
}

h1,
h2 {
    margin: 0 auto;
    color: #394147;
    line-height: 120%;
}

h1 {
    font-family: 'Bakery', sans-serif;
    font-size: 3rem;
    text-align:center;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

p,
li,
a,
label,
input {
    padding: .6rem 0;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    color: #135a72;
}

img {
    width: 100%;
}

ul {
    padding-left: 0;
}

section{
    padding: 2%;
}

article {
    padding: 2%;
    width: 96%;
    margin: auto;
    text-align: center;
}

article p {
    text-align: left;
}

#our-menu {
    width: 90%;
    margin: auto;
}

#mission, .green-background {
    margin-top: 1rem;
    background-color: rgba(214, 232, 19, .9);
    padding: 1rem;
    border-radius: 10px;
    border: 2px rgba(255,255,255,.7) solid;
    width: 94%;
    max-width: 900px;
    margin: 1rem auto;
}
#mission p {
    font-weight: bold;
    color: #394147;
}

.wrap {
    background-color: rgba(255,255,255,.9);
    padding: 1rem;
    margin: 2rem .7rem;
    box-shadow: -.3rem -.3rem #394147;
        -webkit-box-shadow: -.3rem .3rem #394147;
}

.wrap p {
    font-size: .9rem;
}

.icon {
    width: 50%;
    padding: 1rem;
}


.primary-button {
    margin: 1rem 0 0;
    padding: 1rem .8rem;
    cursor: pointer;
    background-color: #c47db1;
    border: none;
    border-radius: .8rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: -.3rem -.3rem #135a72;
        -webkit-box-shadow: -.3rem .3rem #135a72;
    }

primary-button:hover {
    box-shadow: none;
        -webkit-box-shadow: none;
    transform: translate(-.3rem, .3rem);
        -webkit-transform: translate(-.3rem, .3rem);
}

.secondary-button {
    background-color: #135a72;
    color: white;
    box-shadow: none;
        -webkit-box-shadow: none;
}

.secondary-button:hover,
#social-media a img:hover {
    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

a {
    color: #c47db1;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comfortaa', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Main navigation styles */
.logo,
.main-nav,
ul.slimmenu {
    width: 100%;
}

ul.slimmenu li {
    padding: 0;
}

.main-nav,
.menu-item a,
ul.slimmenu li a {
    background-color: #135a72;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
}

ul.slimmenu li .submenu li .subsubmenu li a,
ul.slimmenu li .submenu li a {
    background-color: #d6e813;
    width: 100%;
    color: #394147;
    border-bottom: .01rem white solid;
}

ul.slimmenu li .submenu li .subsubmenu:last-child,
ul.slimmenu li .submenu:last-child {
    border: none;
}

ul.slimmenu li .submenu li .subsubmenu li a:hover,
ul.slimmenu li .submenu li a:hover {
    background-color: #ffffff;
}

ul.slimmenu li .submenu li .subsubmenu li a {
    background-color: #ffd022;
}
/* End main navigation styles */

footer {
    align-self: bottom;
    background-color: #c0c0c0;
}

#social-media {
    margin: 0 auto 1rem;
    padding: .6rem 0;
    background-color: #ffffff;
}

#social-links {
        max-width: 500px;
        margin: auto;
}
#social-media a {
    display: inline-block;
    width: 23.8%;
    margin: auto;
}

#social-media a img {
    display: block;
    padding: .3rem;
    margin: auto;
    width: calc(100% - .6rem);
    max-width: 60px;

}

label,
input {
    display: block;
}

.map iframe{
    width: 90%;
    border: white solid 3px;
}

.bold {
    font-weight: bold;
}

/*#history .wrap,
#locations .wrap,
#contact .wrap,
#cakes .wrap,
#pastries .wrap,
#breads .wrap {
    margin: 1rem 0;
}*/

.slideout {
    display: none;
}

.table {
    margin: 1rem auto;
    width: 96%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0;
    border: 1px solid #c47db1;
    background-color: rgba(255,255,255,.75);
}

td p {
    padding: .5rem;
}

.item {
    margin: 1rem 0;
    border-bottom: 2px dotted;
}

th p {
    text-align: center;
}

input[type="email"] {
    width: 90%;
    max-width: 500px;
    padding: .5rem;
    margin: auto;
}

/* form validation */
.alert {
  display: none;
}

/**
 * Error color for the validation plugin
 */
.error {
  color: #e74c3c;
}

.valid {
    display: none;
}
#faq ul {
    width: 96%;
}

#faq li {
    text-align: left;
}

.level1,
.level2{
    list-style-type: none;
}

.level1 li{
    font-weight: bold;
}

.level2 li{
    font-weight: normal;
}

#classes .wrap {
    margin-left: 0;
    margin-right: 0;
}

#calendar {
    z-index: 0;
}

#eventContent {
    display: none;
}

#eventContent p {
    position: absolute;
    z-index:999;
    background-color:white;
    width: 90%;
}

.fc-center h2 {
    padding: .5rem 0;
    font-size: 1rem;
}

footer label,
footer p {
    text-align: center;
    width: 90%;
    margin: auto;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 80%;
    margin: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#day,
#month29,
#month30,
#month31 {
    display: none;
}

@media (min-width: 480px) {
    .wrap {
        width: 60%;
        margin: 1rem auto;
    }

    #schedule.wrap {
        width: 99%;
    }

    #faq.wrap,
    #history div.wrap {
        width: 80%;
        max-width: 700px;
    }
}

@media (min-width: 600px) {
    article {
        width: 98%;
        margin: auto;
    }
    .wrap {
        vertical-align: top;
        width: 29%;
        margin: .5rem;
        display: inline-block;
    }

    #navigation {
        width: 80%;
        padding-left: 4%;
    }
}
