@font-face {
    font-family: Bakery;
    src: url(../fonts/bakery.ttf);
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after{
    clear: both;
}

.index {
    background-image: url(../img/index-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header,
main,
footer {
    background-color: rgba(255,255,255,.7);
}

h1,
h2 {
    margin: 0 auto;
    color: #394147;
    line-height: 120%;
}

h1 {
    font-family: 'Bakery', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p,
li,
a {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #135a72;
}

article {
    width: 96%;
    margin: auto;
    text-align: center;
}

.wrap {
    background-color: rgba(255,255,255,.7);
    width: 30%;
    padding: 1%;
    margin: 1%;
    display: inline-block;
    box-shadow: -.3rem -.3rem #c0c0c0;
        -webkit-box-shadow: -.3rem .3rem #c0c0c0;
}

button {
    padding: 1rem .8rem;
    cursor: pointer;
    background-color: #c47db1;
    border: none;
    border-radius: .8rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: -.3rem -.3rem #135a72;
        -webkit-box-shadow: -.3rem .3rem #135a72;
    }

button:hover {
    box-shadow: none;
        -webkit-box-shadow: none;
    transform: translate(-.3rem, .3rem);
        -webkit-transform: translate(-.3rem, .3rem);
}

.secondary-button {
    background-color: #135a72;
    color: white;
    box-shadow: none;
        -webkit-box-shadow: none;
}

.secondary-button:hover {
    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

a {
    color: #c47db1;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comfortaa', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Main navigation styling, from https://osvaldas.info/drop-down-navigation-responsive-and-touch-friendly */

#nav {
    /* container */
}

#nav > a {
    display: none;
}

#nav li {
    position: relative;
    list-style-type: none;
}

/* first level */

#nav > ul {
    height: 3.75em;
}

#nav > ul > li {
    width: 25%;
    height: 100%;
    float: left;
}

/* second level */

#nav li ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav li:hover ul {
    display: block;
}

@media only screen and ( max-width: 40em ) /* 640 */ {
    #nav {
        position: relative;
    }

    #nav > a {
    }

    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type {
        display: block;
    }

    /* first level */

    #nav > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    #nav:target > ul {
        display: block;
    }

    #nav > ul > li {
        width: 100%;
        float: none;
    }

    /* second level */

    #nav li ul {
        position: static;
    }
}

/* End main navigation styles */
