@font-face {
    font-family: Bakery;
    src: url(../fonts/bakery.ttf);
}

html {
    box-sizing: border-box;
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.position-left {
    display: none;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto; /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after{
    clear: both;
}

.index {
    background-image: url(../img/index-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header,
footer {
    background-color: rgba(255,255,255,.7);
}

h1,
h2 {
    margin: 0 auto;
    color: #394147;
    line-height: 120%;
}

h1 {
    font-family: 'Bakery', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p,
li,
a {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    color: #135a72;
}

ul {
    padding-left: 0;
}

article {
    width: 96%;
    margin: auto;
    text-align: center;
}

article p {
    text-align: left;
}

.wrap {
    background-color: rgba(255,255,255,.7);
    padding: 1rem;
    margin: 2rem 1rem;
    box-shadow: -.3rem -.3rem #c0c0c0;
        -webkit-box-shadow: -.3rem .3rem #c0c0c0;
}

@media (min-width: 600px) {
    .wrap {
        width: 25%;
        display: inline-block;
    }
}

button {
    padding: 1rem .8rem;
    cursor: pointer;
    background-color: #c47db1;
    border: none;
    border-radius: .8rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: -.3rem -.3rem #135a72;
        -webkit-box-shadow: -.3rem .3rem #135a72;
    }

button:hover {
    box-shadow: none;
        -webkit-box-shadow: none;
    transform: translate(-.3rem, .3rem);
        -webkit-transform: translate(-.3rem, .3rem);
}

.secondary-button {
    background-color: #135a72;
    color: white;
    box-shadow: none;
        -webkit-box-shadow: none;
}

.secondary-button:hover {
    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

a {
    color: #c47db1;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comfortaa', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Main navigation styles */
#navigation {
    width: 100%;
}

#navigation,
.menu-item a,
.sub-toggle,
ul.slimmenu li a,
ul.slimmenu li .sub-toggle,
ul.slimmenu li .sub-toggle > i
{
    background-color: #135a72;
    color: #ffffff;
    font-weight: bold;
}

ul.slimmenu li .submenu li a {
    background-color: #d6e813;
    display: block;
    width: 100%;
}

ul.slimmenu li .submenu li .subsubmenu li a {
    background-color: #ffd022;
    display: block;
    width: 100%;
}
/* End main navigation styles */

footer {
    align-self: bottom;
}
