@font-face {
    font-family: Bakery;
    src: url(../fonts/bakery.ttf);
}

html {
    box-sizing: border-box;
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.position-left {
    display: none;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto; /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after{
    clear: both;
}

.hide {
    display: none;
}

.index {
    background-image: url(../img/index-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header,
footer {
    background-color: #ffffff;
}

.logo {
    padding: 6%;
    display: block;
}

h1,
h2 {
    margin: 0 auto;
    color: #394147;
    line-height: 120%;
}

h1 {
    font-family: 'Bakery', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p,
li,
a,
label {
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    color: #135a72;
}

ul {
    padding-left: 0;
}

article {
    width: 96%;
    margin: auto;
    text-align: center;
}

article p {
    text-align: left;
}

#mission {
    margin-top: 1rem;
    background-color: rgba(214, 232, 19, .9);
    padding: 1rem;
    border-radius: 10px;
    border: 2px rgba(255,255,255,.7) solid;
}
#mission p {
    font-weight: bold;
    color: #394147;
}

.wrap {
    background-color: rgba(255,255,255,.9);
    padding: 1rem;
    margin: 2rem 1rem;
    box-shadow: -.3rem -.3rem #394147;
        -webkit-box-shadow: -.3rem .3rem #394147;
}

.wrap p {
    font-size: .9rem;
}

.icon {
    width: 50%;
    padding: 1rem;
}

@media (min-width: 600px) {
    .wrap {
        width: 25%;
        display: inline-block;
    }

    #navigation {
        width: 60%;
        padding-left: 4%;
    }
}

button {
    margin: 1rem 0 0;
    padding: 1rem .8rem;
    cursor: pointer;
    background-color: #c47db1;
    border: none;
    border-radius: .8rem;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: -.3rem -.3rem #135a72;
        -webkit-box-shadow: -.3rem .3rem #135a72;
    }

button:hover {
    box-shadow: none;
        -webkit-box-shadow: none;
    transform: translate(-.3rem, .3rem);
        -webkit-transform: translate(-.3rem, .3rem);
}

.secondary-button {
    background-color: #135a72;
    color: white;
    box-shadow: none;
        -webkit-box-shadow: none;
}

.secondary-button:hover {
    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

a {
    color: #c47db1;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comfortaa', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Main navigation styles */
.logo,
.main-nav {
    width: 100%;
}

.main-nav,
.menu-item a,
ul.slimmenu li a {
    background-color: #135a72;
    color: #ffffff;
    font-weight: bold;
}

ul.slimmenu li .submenu li .subsubmenu li a,
ul.slimmenu li .submenu li a {
    background-color: #d6e813;
    width: 100%;
    color: #394147;
    border-bottom: .01rem white solid;
}

ul.slimmenu li .submenu li .subsubmenu:last-child,
ul.slimmenu li .submenu:last-child {
    border: none;
}

ul.slimmenu li .submenu li .subsubmenu li a:hover,
ul.slimmenu li .submenu li a:hover {
    background-color: #c47db1;
}

ul.slimmenu li .submenu li .subsubmenu li a {
    background-color: #ffd022;
}
/* End main navigation styles */

footer {
    align-self: bottom;
    background-color: #c0c0c0;
}

#social-media {
    margin: 0 auto 1rem;
    padding: .6rem 0;
    background-color: #ffffff;
}

#social-media a {
    display: inline-block;
    width: 23.8%;
    margin: auto;
}

#social-media a img {
    display: block;
    padding: .3rem;
    margin: auto;
    width: calc(100% - .6rem);
}

label,
input {
    display: block;
}
